.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 40px;
  background-color: #2364AA;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
}

.nav a {
  text-decoration: none;
}



.navLink {
  display: inline-block;
  color: #F49D0C;
  background-color: #2364AA;
  text-align: right;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 2px;
  margin-right: -2px;
  

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}


html {
  background-color: #3DA5D9;
}

